.card-size {
  width: 100%;
  height: 70px;
  margin-bottom: 3%;
}

header {
 background-image: url(../img/big-data-7645200_1280.jpg);
}

body {
 background-image: url(../img/big-data-7645200_1280.jpg);
}
