h2 {
  margin-left: 3%;
}

p {
  margin-left: 3%;
}

header img {
  max-width: 250px;
  max-height: 200px;
  margin-right: 10%;
  border-radius: 30%;
}

header {

  background-image: url(/assets/img/big-data-7645200_1280.jpg);
}
main {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  
}


.card-body {
  border: 3px solid rgb(11, 167, 214);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

/*Footer*/
footer {
  height: 50px;
}

